@import url("./header.css");
@import url("./gallery.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
